.gradle/
build/
out/
.idea/
.vscode/
*.iml
.DS_Store

node_modules/
dist/

.env
*.log

services/**/build/
frontend/dist/
.gradle/
.gradle**
.gradle-user/wrapper/dists
.gradle-home
.gradle-home/
**/*.zip
**/*.part
