# Compiled class files
*.class
**/*.class

# Log files
*.log
**/*.log

# IDE specific files
.idea/
.vscode/
*.iml
*.iws

# Build artifacts
build/
bin/
target/
out/
.gradle/
.gradle**
.gradle-user/
.gradle-home/
.settings/
.project
.classpath

# OS specific files
.DS_Store
Thumbs.db

# Misc
node_modules/
dist/
.env
**/*.zip
**/*.part
